.section {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin-bottom: 15px;
}

/* @media screen and (min-width: 768px) {
  .section{
    width: 700px;
  }
} */

.title {
  width: 100%;
  padding: 20px 0;

  font-size: inherit;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--white-color);

  border: 1px solid var(--border-color);
}

.statList {
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
  border-top: none;
}

.item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  padding: 10px 0;
  border-right: 1px solid var(--border-color);
}

.label {
  color: var(--white-color);
  font-size: 12px;
}

.percentage {
  color: var(--white-color);

  font-weight: 500;
}
